@model IEnumerable<RematadosWeb.Models.Articulo>

@{
    ViewData["Title"] = "Resultados";
}

<h1>Resultados de la busqueda</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@Url.Content(String.Format("~/photos/" + item.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
               <span>$</span> @Html.DisplayFor(modelItem => item.Precio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Comprar" class="btn normal" asp-route-id="@item.Id">Comprar</a>
                <a asp-action="AñadirAlCarrito" class="btn normal" asp-route-id="@item.Id">Añadir al carrito</a>
            </td>
        </tr>
        }
    </tbody>
</table>
