@model RematadosWeb.Models.Articulo

@{
    ViewData["Title"] = "Comprar Articulo";
}



<h1>Comprar artículo</h1>

<h3>Esta por comprar el siguiente artículo</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>

    <form asp-action="ComprarArticulo" id="form">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Comprar" class="btn normal compra" id="input"/>
        <a asp-action="Index" class="btn normal" >Volver al inicio</a>
    </form>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const compras = document.querySelectorAll('.compra');

    // Crear función para mostrar alerta
    function comprar(e) {

        /*e.preventDefault();*/
        Swal.fire({
            title: 'Compraste exitosamente @Model.Nombre!',
            text: 'Volviendo al menú...',
            icon: 'success',
            showConfirmButton: false
             //It does close the popup when I click on close button
            // Encadena la promesa para saber lo que pasó en la ventana modal
        }).then((result) => {
            if (result) { // if confirm clicked....
               /* $('#input').submit(); // submit form*/
            }
        })

    }

    compras.forEach(btn => btn.addEventListener('click', comprar));


</script>