@model IEnumerable<RematadosWeb.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor.Dni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(String.Format("~/photos/" + item.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.Dni) @*COMO ACCEDEDER A UN ATRIBUTO DE UNA FK. MODIFICAMOS EL MODELO???*@
            </td>
            <td>


                @using Microsoft.AspNetCore.Http;

                @*@if (@Context.Session.GetInt32("UsuarioID") != @item.Vendedor.Dni)
            {*@
                <a asp-action="Comprar" asp-route-id="@item.Id">Comprar</a>
                @*}*@



                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*//<a asp-action="CancelarArticulo" asp-route-id="@item.Id">Cancelar</a> |*@
                <a asp-action="AñadirAlCarrito" asp-route-id="@item.Id">Añadir al carrito</a>
            </td>
        </tr>
}
    </tbody>
</table>
