@model IEnumerable<RematadosWeb.Models.Articulo>

@{
    ViewData["Title"] = "Mis Ventas";
}

<h1>Mis Ventas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@Url.Content(String.Format("~/photos/" + item.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <span class="precio" style="width: 1px; white-space: nowrap;">@Html.DisplayFor(modelItem => item.Precio)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @using Microsoft.AspNetCore.Http;
                @if (@Context.Session.GetInt32("UsuarioID") == item.Vendedor.Dni && item.Estado != EstadoArticulo.VENDIDO)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn normal">Editar</a>

                }

                <a asp-action="Details" asp-route-id="@item.Id" class="btn normal">Detalles</a> 
                @if (@Context.Session.GetInt32("UsuarioID") == item.Vendedor.Dni && item.Estado != EstadoArticulo.VENDIDO)
                {
                    <a asp-action="CancelarArticulo" asp-route-id="@item.Id" class="btn normal">Cancelar</a>

                }


                @if (item.Estado == EstadoArticulo.VENDIDO)
                {
                    <a asp-controller="Mensajes" asp-action="MensajesOperacion" asp-route-id="@item.Id" class="btn normal">Mensajes</a>


                }

            </td>
        </tr>
        }
    </tbody>
</table>
