
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RematadosWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    @*<link rel="stylesheet" href="~/css/login.css" />*@
    <link rel="stylesheet" href="~/css/compra.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container">
                @using Microsoft.AspNetCore.Http;
                @if (@Context.Session.GetInt32("UsuarioID") == 0 || @Context.Session.GetInt32("UsuarioID") == null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="homelink"><img src="~/images/RematadosLogoLine.png" alt="Inicio" /> </a>

                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Articulos" asp-action="Index" id="homelink"><img src="~/images/RematadosLogoLine.png" alt="Inicio" /> </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav flex-grow-1 " id="navlinks" style="display:flex">
                            @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="Index">Articulos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Mensajes" asp-action="Index">Mensajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ItemCarritos" asp-action="Index">ItemCarritos</a>
                    </li>
                            *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="CrearArticulo">Crear Articulo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="MisCompras">Mis Compras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="MisVentas">Mis Ventas</a>
                            </li>



                            @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Salir">Salir</a>
                    </li>*@
                            <div class="nav-items">
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="~/images/user.png" alt="perfil usuario"></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="MiPerfil">Mi perfil</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Seguridad">Seguridad</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Salir">Salir</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ItemCarritos" asp-action="Index"><img src="~/images/cart.png" alt="perfil usuario"></a>
                            </li>
                    </div>


                    </ul>

                </div>

                    <form asp-controller="Articulos" name="formBusqueda" asp-action="Buscar" class="search" onsubmit="return validar()">
                        <input type="text" id="Busqueda" name="Busqueda" class="search-box" placeholder="Busca un artículo (celular, auto,electrodoméstico)">
                        <input type="submit" class="search-btn" value="Buscar">
                        @*<button type="submit" class="search-btn">Buscar</button>*@
                    </form>

                }

            </div>

            



        </nav>

        

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RematadosWeb 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
     <script type="text/javascript">
         window.onload = function ()
         {

            //var usuarioActual = sessionStorage.getItem("UsuarioActual");
            // if (usuarioActual == null || usuarioActual == 0)
            // {
            //     var navlinks = document.getElementById("navlinks");
            //     navlinks.style.display = 'none';
//

//             }

        }

         function Salir() {

             Context.Session.SetInt32("UsuarioID", 0);
             //sessionStorage.setItem("UsuarioActual", 0);
         }



         function validar() {

             var busqueda = document.forms["formBusqueda"]["Busqueda"].value;
             if (busqueda == "") {
                 document.formBusqueda.Busqueda.focus();
                 alert("El campo no puede estar vacio");
                 return false;
             }

             else {
                 return true;
             }
         }


     </script>
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
