@model IEnumerable<RematadosWeb.Models.ItemCarrito>

@{
    ViewData["Title"] = "Mi Carrito de Compras";
}

<h1>Mi Carrito de compras</h1>

@if (@Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Articulo.Nombre)
                </th>
            </tr>
        </thead>
        <tbody>

                @foreach (var item in Model)
                {



                    <tr>
                        <td>
                            <img src="@Url.Content(String.Format("~/photos/" + item.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                        </td>
                        <td>

                           
                            <a asp-action="ConfirmarCompra" asp-route-id="@item.">Continuar Compra</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
    <a asp-action="ConfirmarCompra"> Continuar Compra</a>

}
else
{
    <br>
    <br>
    <br>
    <div>Tu carrito de compras esta vacio!</div>
}

