@model IEnumerable<RematadosWeb.Models.ItemCarrito>

@{
    ViewData["Title"] = "Mi Carrito de Compras";
}

<h1>Mi Carrito de compras</h1>
@using Microsoft.AspNetCore.Http;
@if (@Context.Session.GetString("CarritoActualizado") == "true")
{
   
    Context.Session.SetString("CarritoActualizado", "false");
    
    <div>Algunos items de tu carrito ya han sido vendidos y se han removido!</div>

}

@if (@Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Articulo.Nombre)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <img src="@Url.Content(String.Format("~/photos/" + item.Articulo.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                    </td>
                    <td>

                        <a asp-action="Comprar" asp-controller="Articulos" class="btn normal" asp-route-id="@item.Articulo.Id">Continuar Compra</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn normal">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="ComprarTodo" class="btn normal compra"> Comprar Todo</a>
    <a asp-action="VaciarCarrito" class="btn normal"> Vaciar Carrito</a>

}
else
{
    <br>
    <br>
    <br>
    <div>Tu carrito de compras esta vacio!</div>
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const compras = document.querySelectorAll('.compra');

    // Crear función para mostrar alerta
    function comprar(e) {
        var totalCarrito = @Model.Count();
        /*e.preventDefault();*/
        Swal.fire({
            title: 'Compraste exitosamente ' + totalCarrito + ' items!',
            text: 'Volviendo al carrito...',
            icon: 'success',
            showConfirmButton: false
            //It does close the popup when I click on close button
            // Encadena la promesa para saber lo que pasó en la ventana modal
        }).then((result) => {
            if (result) { // if confirm clicked....
                /* $('#input').submit(); // submit form*/
            }
        })

    }

    compras.forEach(btn => btn.addEventListener('click', comprar));


</script>